div.container-fluid{
	padding-top: 60px;
}

/*
	
	Comments

*/

#commentform .span8{
	margin-left: 0;
}

form div.input.comment_textarea{
	margin-left: 0;
}

textarea#comment{
	width: 514px;
	height: 110px;
}