/*

	YOUR_THEME Style Sheet

*/

body{

}

strong, b{
	font-weight: bold;
}

em, i{
	font-style: italic;
}

/*

	Images

*/

.alignleft{
	float: left;
}

.alignright{
	float: right;
}

img.alignleft{
	float: left;
	margin: 0 15px 15px 0;
}

img.alignright{
	float: right;
	margin: 0 0 15px 15px;
}

/*
	
	Slider

*/

#slider {
    position: relative;
    width: 618px;
    height: 246px;
}

#slider img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}